.front11{
    width: 100%;
    height: 50%;
}
.front22{
    width: 100%;
    height: 50%;
}
.front33{
    width: 100%;
    height: 50%;
}
.front44{
    width: 100%;
    height: 50%;
}
.front55{
    width: 100%;
    height: 50%;
}
